.place__image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .place__image {
    max-width: calc(100% + 16px + 16px);
    margin-left: -16px;
    margin-right: -16px;
  }
}