.cover__title {
  display: block;
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 32px 0;
  text-align: center;
  font-weight: 900;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px 0;
  }
}